# Getting Your Data From Yelp!

In order to make sure you are on track to completing the project, you will complete this workbook first. Below are steps that you need to take in order to make sure you have your data from yelp and are ready to analyze it. Your cohort lead will review this workbook with you the Wednesday before your project is due.

## Part 1 - Understanding your data and question

You will be pulling data from the Yelp API to complete your analysis. The api, however, provides you with a lot of information that will not be pertinent to your analysis. YOu will pull data from the api and parse through it to keep only the data that you will need. In order to help you identify that information,look at the API documentation and understand what data the api will provide you. 

Identify which data fields you will want to keep for your analysis. 

https://www.yelp.com/developers/documentation/v3/get_started

___

## Part 2 - Create ETL pipeline for the business data from the API

Now that you know what data you need from the API, you want to write code that will execute a api call, parse those results and then insert the results into the DB.  

It is helpful to break this up into three different functions (*api call, parse results, and insert into DB*) and then you can write a function/script that pull the other three functions together. 

Let's first do this for the Business endpoint.

- Write a function to make a call to the yelp API

In [ ]:
def yelp_call(url_params, api_key):
    # your code to make the yelp call
    return data

- Write a function to parse the API response so that you can easily insert the data in to the DB

In [ ]:
def parse_results(results):
    # your code to parse the result to make them easier to insert into the DB
    return parsed_results

- Write a function to take your parsed data and add it to the csv file where you will store all of your results.

In [ ]:
def df_save(csv filepath, parsed results):
    # your code to open the csv file, concat the current data, and save the data.

- Write a script that combines the three functions above into a single process.

While it will take some experimentation to write the functions above, once you get them working it will be best to put them in a `.py` file and then import the functions to use in a script

In [ ]:
from helper_funcs import *

In [ ]:


# create a variable  to keep track of which result you are in. 
cur = 0

#set up a while loop to go through and grab the result 
while cur < num and cur < 1000:
    #set the offset parameter to be where you currently are in the results 
    url_params['offset'] = cur
    #make your API call with the new offset number
    results = yelp_call(url_params, api_key)
    
    #after you get your results you can now use your function to parse those results
    parsed_results = parse_results(results)
    
    # use your function to insert your parsed results into the db
    df_save(parsed_results)
    #increment the counter by 50 to move on to the next results
    cur += 20

___

## Part 3 -  Create ETL pipeline for the restaurant review data from the API

You've done this for the Businesses, now you need to do this for reviews. You will follow the same process, but your functions will be specific to reviews. Above you ahve a model of the functions you will need to write, and how to pull them together in one script. For this part, you ahve the process below

- In order to pull the reveiws, you will need the business ids. So your first step will be to get all of the business ids from your businesses csv.

- Write a function that takes a business id and makes a call to the API for reivews

- Write a function to parse out the relevant information from the reviews

- Write a function to save the parse data into a csv file containing all of the reviews.

- Combine the functions above into a single script

___

## Part 4 -  Using python and pandas, write code to answer the questions below. 


- Which are the 5 most reviewed businesses in your dataset?
- What is the highest rating recieved in your data set and how many businesses have that rating?
- What percentage of businesses have a rating greater than or  4.5?
- What percentage of businesses have a rating less than 3?
- What percentage of your businesseshave a price label of one dollar sign? Two dollar signs? Three dollar signs? No dollar signs?
- Return the text of the reviews for the most reviewed business. 
- Find the highest rated business and return text of the most recent review. If multiple business have the same rating, select the business with the most reviews. 
- Find the lowest rated business and return text of the most recent review.  If multiple business have the same rating, select the business with the least reviews.

In [1]:
import requests
import json
import sys
import pandas as pd
import numpy as np

Boston_Reviews=pd.read_csv('Final_Boston_Data.csv')
Denver_Reviews=pd.read_csv('Final_Denver_Data.csv')
Boston_data = pd.read_csv('Subs_Boston.csv')
Denver_data = pd.read_csv('Subs_Denver.csv')

In [15]:
Final.keys()

Index(['name', 'zipcode', 'rating', 'review count', 'categories', 'delivery',
       'distance', 'price', 'Name', 'Zip Code', 'Buisness Rating',
       'Review Count', 'Categories', 'Delivery', 'Distance', 'Price', 'RId',
       'Text', 'Rating'],
      dtype='object')

In [2]:
Frames=[Denver_data,Boston_data]
FinalData= pd.concat(Frames)
FinalData.set_index('id', inplace = True)
FinalData.to_csv('Final_Data')

In [3]:
Boston_Reviews.set_index('id',inplace=True)
Denver_Reviews.set_index('id',inplace=True)
FinalReview=pd.concat([Boston_Reviews,Denver_Reviews])
FinalReview.drop(['Unnamed: 0'],axis = 1, inplace=True)
FinalReview.to_csv('Final_Review')

In [12]:
Final = FinalData.join(FinalReview)

In [42]:
Final.head()

,name,zipcode,rating,review count,categories,delivery,distance,price,Name,Zip Code,Buisness Rating,Review Count,Categories,Delivery,Distance,Price,RId,Text,Rating
id,,,,,,,,,,,,,,,,,,,
-5iF6s8wJbGd9R2CVd5bvg,Walter's303 - Lowry,80230,4.5,65,pizza,True,6047.360139,$$,Walter's303 - Lowry,80230,4.5,65,pizza,True,6047.360139,$$,gZKAshyFZzbFcByZUJyPYg,Ive just done my second round of the Broadway Market to-go offerings and they are crushing it with the pivot towards takeaway post shut down. \n-Ordering was...,5.0
-5iF6s8wJbGd9R2CVd5bvg,Walter's303 - Lowry,80230,4.5,65,pizza,True,6047.360139,$$,Walter's303 - Lowry,80230,4.5,65,pizza,True,6047.360139,$$,zb7fvW5eJoNvDZdrcvtaAA,"So glad to see this opening up again. Fewer items on the menus, but focussed on everyone's favorites. If you haven't been here before - there is something...",5.0
-5iF6s8wJbGd9R2CVd5bvg,Walter's303 - Lowry,80230,4.5,65,pizza,True,6047.360139,$$,Walter's303 - Lowry,80230,4.5,65,pizza,True,6047.360139,$$,ABRJUqm-E4i5J4wd7XBucg,"Grabbed lunch here with the family a few times after a hike in the area and never any regrets. Food is decent, sometimes really good ( like the...",4.0
-8u9P253kZlukUqbDXrPgA,Porter Cafe,2132,4.5,227,bars,True,9285.855793,$$,Porter Cafe,2132,4.5,227,bars,True,9285.855793,$$,KCPWZQqEOAz2F1myrRPnrg,"Great burgers. They don't do medium rare, even when asked how you want your burger. But very tasty - grill taste. Lots of TVs, great iced tea. The fries...",4.0
-8u9P253kZlukUqbDXrPgA,Porter Cafe,2132,4.5,227,bars,True,9285.855793,$$,Porter Cafe,2132,4.5,227,bars,True,9285.855793,$$,J-3-y86FXL4Lc0_yg3uilw,went in and got seated right away they have dividers if you want to sit at the bar. Inside is pretty dark but I enjoyed it.\n\nThe service was good. I got the...,4.0

- Which are the 5 most reviewed businesses in your dataset?

In [13]:

FinalData.sort_values('review count',ascending=False).head(n=5)

,name,zipcode,rating,review count,categories,delivery,distance,price
id,,,,,,,,
y2w6rFaO0XEiG5mFfOsiFA,Neptune Oyster,2113,4.5,5122,seafood,True,2122.402939,$$$
2u_w3rthRzR2uEihW5BC4A,Giacomo's Ristorante - Boston,2113,4.0,3523,italian,True,2372.466569,$$
Z8vO_mf1V09QDUPdyqJ6og,Linger,80211,4.0,3396,asianfusion,True,4414.859401,$$
Ruq91rmQNweZ78TzKylQMg,Union Oyster House,2108,3.5,2830,seafood,True,1898.855068,$$
CQNv4SXqFltcwNsx-qHbLQ,Steuben's Uptown,80203,4.0,2763,diners,True,1248.921898,$$

- What is the highest rating recieved in your data set and how many businesses have that rating?

In [5]:

FinalData[FinalData['rating'] == FinalData['rating'].max()]
leng=len(FinalData[FinalData['rating'] == FinalData['rating'].max()])
#Highest Rating received in my data set is 5.0 and there are 46 businesses that have that rating

- What percentage of businesses have a rating greater than or  4.5?
About 17.55% of buisnesses ratings are 4.5 or higher

In [6]:
drp2=FinalData[(FinalData['rating'] < 4.5 )].index
DR = len(FinalData.drop(drp2,inplace=False))
(DR/ FinalData.shape[0])*100

17.551704863051985

- What percentage of businesses have a rating less than 3?
 About 6.2% of buisnesses ratings are less than 3

In [7]:
drp2=FinalData[(FinalData['rating'] >= 3 )].index
DR = len(FinalData.drop(drp2,inplace=False))
(DR/FinalData.shape[0])*100

6.204583566238122

- What percentage of your businesses have a price label of one dollar sign? Two dollar signs? Three dollar signs? No dollar signs?

In [8]:
FinalData['price'].value_counts(normalize=True)*100

$$      81.338481
$        8.815959
$$$      8.687259
$$$$     1.158301
Name: price, dtype: float64

- Return the text of the reviews for the most reviewed business.

In [40]:
Final.sort_values('review count',ascending=False)[0:3][['review count','Text']]

,review count,Text
id,,
y2w6rFaO0XEiG5mFfOsiFA,5122,Limited outdoor dining during COVID. Waited about 40 mins even on a weekday afternoon. \n\nOysters - Kumamoto and Kusshi were really small oysters but my...
y2w6rFaO0XEiG5mFfOsiFA,5122,"We were up here in July 2020, at the height of COVID, I guess? The city had just opened up indoor dining again. I don't know what this tiny street looked..."
y2w6rFaO0XEiG5mFfOsiFA,5122,"Neptune was one of the places that gets highly recommended by everyone.., and usually I'm quite skeptical of overhyped up places. Boy was I in for a rude..."

- Find the highest rated business and return text of the most recent review. If multiple business have the same rating, select the business with the most reviews.

In [25]:
Final.groupby('name')['rating'].mean().sort_values(ascending=False)

name
Portico Eritrean and Ethiopian Restaurant and Bar    5.0
Tambo 22                                             5.0
Servia                                               5.0
Piante Pizzeria                                      5.0
The Peaks Bar & Grill                                5.0
                                                    ...
Colorado Bar & Grill                                 1.5
Zink Bar + Patio                                     1.5
Chili's Grill and Bar                                1.0
Montview Bar & Grill                                 1.0
Hennessey                                            1.0
Name: rating, Length: 1623, dtype: float64

In [38]:
pd.set_option('display.max_colwidth', None)
Final.loc[Final['rating']==Final['rating'].max()].sort_values(by='review count',ascending=False).head(1)['Text']

id
YgVGY2fE_E_7Dz7LvZYNvA    I never thought take-out roasted chicken could be so delicious.  Dad gum!  Mmmm mmm.\n\nThis Aussie-inspired local chicken chain from the founders of Snooze...
Name: Text, dtype: object

- Find the lowest rated business and return text of the most recent review.  If multiple business have the same rating, select the business with the least reviews.

In [39]:
Final.loc[Final['rating']==Final['rating'].min()].sort_values(by='review count',ascending=True).head(1)['Text']

id
88WZx0N1p6uRgsqdyHeSrA    Covid convalescence. Great weekend treat.  Outdoor seating, grilling burgers and great drink options!!
Name: Text, dtype: object

# Reference help

###  Pagination

Returning to the Yelp API, the [documentation](https://www.yelp.com/developers/documentation/v3/business_search) also provides us details regarding the API limits. These often include details about the number of requests a user is allowed to make within a specified time limit and the maximum number of results to be returned. In this case, we are told that any request has a maximum of 50 results per request and defaults to 20. Furthermore, any search will be limited to a total of 1000 results. To retrieve all 1000 of these results, we would have to page through the results piece by piece, retriving 50 at a time. Processes such as these are often refered to as pagination.

Now that you have an initial response, you can examine the contents of the json container. For example, you might start with ```response.json().keys()```. Here, you'll see a key for `'total'`, which tells you the full number of matching results given your query parameters. Write a loop (or ideally a function) which then makes successive API calls using the offset parameter to retrieve all of the results (or 5000 for a particularly large result set) for the original query. As you do this, be mindful of how you store the data. 

**Note: be mindful of the API rate limits. You can only make 5000 requests per day, and APIs can make requests too fast. Start prototyping small before running a loop that could be faulty. You can also use time.sleep(n) to add delays. For more details see https://www.yelp.com/developers/documentation/v3/rate_limiting.**

***Below is sample code that you can use to help you deal with the pagination parameter and bring all of the functions together.***


***Also, something might cause your code to break while it is running. You don't want to constantly repull the same data when this happens, so you should insert the data into the database as you call and parse it, not after you have all of the data***

In [ ]:
# create a variable  to keep track of which result you are in. 
cur = 0

#set up a while loop to go through and grab the result 
while cur < num and cur < 1000:
    #set the offset parameter to be where you currently are in the results 
    url_params['offset'] = cur
    #make your API call with the new offset number
    results = yelp_call(url_params, api_key)
    
    #after you get your results you can now use your function to parse those results
    parsed_results = parse_results(results)
    
    # use your function to insert your parsed results into the db
    db_insert(parsed_results)
    #increment the counter by 50 to move on to the next results
    cur += 20